{% extends 'base.html' %}


{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{ object.name }}</h1>
        <p>{{ object.description }}</p>
        <p>Experience Level: {{ object.studentExperience }}</p>
      </div>
    </div>
    <div class="container">
	    	<ul class="list-group">
			{% for lesson in lessons %}
			<li class="list-group-item">
				<span class="badge">25</span>
				<a href="">{{ lesson.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %} 